@page "/edit-visit"
@page "/edit-visit/{id:int}"
@using ClinicScheduler.Interfaces
@using ClinicScheduler.Entities

@inject IVisitService VisitService
@inject IDoctorService DoctorService
@inject IPatientService PatientService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


@if (Id is null)
{
    <PageTitle>Add a new Visit</PageTitle>
    <h4>Add a new Visit</h4>
}
else
{
    <PageTitle>Edit @CurrentVisit.Patient visit on @CurrentVisit.DateOfVisit</PageTitle>
    <h4>Edit @CurrentVisit.Patient visit on @CurrentVisit.DateOfVisit</h4>
}

<EditForm Model="CurrentVisit" OnSubmit="HandleSubmit">
    <div class="col-sm-10">
        <label> Doctor</label>
        <InputSelect id="doctor" @bind-Value="CurrentVisit.DoctorId" class="form-control">
            @foreach (var doctor in Doctors)
            {
                <option value="@doctor.Id">@doctor.FullName</option>
            }
        </InputSelect>
    </div>
    <div class="col-sm-10">
        <label> Patient</label>
        <InputSelect id="patient" @bind-Value="CurrentVisit.PatientId" class="form-control">
            @foreach (var patient in Patients)
            {
                <option value="@patient.Id">@patient.FullName</option>
            }
        </InputSelect>
    </div>
    <div>
            <label for="dateOfVisit">Date</label>
            <InputDate @bind-Value="@CurrentVisit.DateOfVisit" class="form-control" />
        </div>
    <div>
        <label>Is Confirmed</label>
        <InputCheckbox  @bind-Value="@CurrentVisit.IsConfirmed"></InputCheckbox>
    </div>
    <div>
        <label >Prescription Number</label>
        <InputNumber TValue="int" @bind-Value="@CurrentVisit.PrescriptionNumber"></InputNumber>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }

    public Visit CurrentVisit { get; set; } = new();
    public Patient CurrentPatient { get; set; } = new();
    public Doctor CurrentDoctor { get; set; } = new();
    
    public List<Doctor> Doctors { get; set; } = new();

    public List<Patient> Patients { get; set; } = new();
    public string PatientId { get; set; }
    
    protected override async Task OnParametersSetAsync()
    {
        if (Id is not null)
        {
            var visit = await VisitService.GetVistByIdAsync((int)Id);
            if (visit is not null)
                CurrentVisit = visit;
                CurrentPatient = CurrentVisit.Patient;
                CurrentDoctor = CurrentVisit.Doctor;
                PatientId = CurrentPatient.Id.ToString();
        }
        Doctors = await DoctorService.GetAllDoctorsAsync();
        Patients = await PatientService.GetAllPatientsAsync();
    }

    async Task HandleSubmit()
    {
        if (Id is not null)
        {
            Console.WriteLine(CurrentVisit.PatientId);
            Console.WriteLine(CurrentVisit.DoctorId);
            await VisitService.UpdateVisitAsync(CurrentVisit, (int)Id);
            NavigationManager.NavigateTo("/visit");
        }
        else
        {
            await VisitService.AddVisitAsync(CurrentVisit);
            NavigationManager.NavigateTo("/visit");
        }
    }

}